/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	font-family: 'Yantramanav', sans-serif;
	font-size: 19px;
	line-height: 25px;
	background-color: #E8EEF2;
	color: #092F4A;
}

h1, .h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 47px;
	line-height: 69px;
	margin-top: 25px;
	margin-bottom: 25px;
}

h2, .h2 {
	font-size: 43px;
	line-height: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
}

h3, .h3 {
	font-size: 29px;
	line-height: 50px;
	margin-top: 25px;
	margin-bottom: 0px;
}

h4, .h4 {
	font-size: 19px;
	line-height: 25px;
	margin-top: 25px;
}

h5, .h5 {
	font-size: 19px;
	line-height: 25px;
	margin-top: 35px;
}

h2, h3, h4, h5, h6 {
	font-family: 'Asar', serif;
}

p {
	margin-bottom: 1.5em;
}

a {
	color: #156AA5;
	transition: all 0.5s ease !important;
}

a:hover,
a:active,
a:focus {
	color: #F4DD02;
}

.benefits a:hover,
.benefits a:active,
.benefits a:focus,
.about a:hover,
.about a:active,
.about a:focus,
.general-content a:hover,
.general-content a:active,
.general-content a:focus {
	color: #092F4A;
}

.btn-large {
	background: #092F4A;
	color: #E1F6F9;
	font-size: 18px;
	border: 2px solid #F4DD02;
	border-radius: 0;
	transition: all 0.5s ease !important;
	box-shadow: none;
	letter-spacing: .2px;
	font-weight: 600;
}

.btn-large:hover, 
.btn-large:active, 
.btn-large:focus {
	background: #E1F6F9;
	color: #092F4A;
	box-shadow: none;
}

.btn-large.inverted {
	background: #E1F6F9;
	color: #092F4A;
}

.btn-large.inverted:hover, 
.btn-large.inverted:active, 
.btn-large.inverted:focus {
	background: #092F4A;
	color: #E1F6F9;
}

.row {
	margin-bottom: 0;
}

.icon-block {
	margin-top: 1rem;
}

.material-icons {
	font-size: 42px;
}

.tagline {
	font-family: 'Asar', serif;
	color: #F4DD02;
	margin-bottom: 3rem;
	font-size: 1.4rem;
}

.title {
	font-style: italic;
	font-weight: 600;
}

img.signature {
	width: 20%;
}



/* Nav */
nav {
	color: #E1F6F9;
	background-color: #092F4A;
}	

nav .brand-logo, nav .brand-logo img {
	max-height: 28px;
}

nav ul a {
	padding: 0 25px;
	font-size: 17px;
	color: #E1F6F9;
	text-transform: uppercase;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
	background-color: #092F4A;
}

nav li.inactive {
	pointer-events: none;
}

nav a.primary {
	color: #092F4A;
	background-color: #E1F6F9;
}

nav a.primary:hover,
nav a.primary:active,
nav a.primary:focus {
	color: #E1F6F9;
	background-color: #092F4A;
}

nav a .fa {
	display: block;
}

.sidenav {
	background-color: #092F4A;
	padding: 20px 0 0 10px !important;
}

.sidenav li a {
	font-size: 19px;
	color: #E1F6F9;
	text-transform: capitalize;
}

.sidenav a.primary {
	background-color: #092F4A;
}

.sidenav a:hover,
.sidenav a:active,
.sidenav a:focus {
	color: #F4DD02 !important;
	background-color: #092F4A;
}

/* Hero */
.hero {
	height: 100vh;
	background: url(/assets/hero-desktop.jpg);
	background-color: #092F4A; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

.hero h1,
.hero h4 {
	color: #E1F6F9;
}

.hero h2 {
	color: #E1F6F9;
	font-size: 29px;
	line-height: 46px;
	margin-bottom: 3rem;
	width: 65%;
}

.hero h4 {
	margin-bottom: 25px;
}

.hero #mc_embed_signup {
	width: 33% !important;
	min-width: 33% !important;
}

.hero #mc_embed_signup input,
.hero #mc_embed_signup .button {
	width: 100% !important;
	min-width: 100% !important;
}

/* Benefits */
.benefits {
	padding-top: 9rem;
	padding-bottom: 5rem;
}

/* Why UniHive */
.why-unihive {
	background-color: #ffffff;
	padding: 0;
}

.why-unihive .left {
	padding: 0;
}

/* About */
.about {
	padding-top: 9rem;
	padding-bottom: 9rem;
}

.about .row {
	width: 70%;
}

.about img {
	margin-bottom: 1rem;
}

.about i {
	padding-right: .75rem;
}

/* Coming Soon */
.coming-soon nav ul li,
.coming-soon nav ul a {
	text-transform: none;
	font-size: 19px;
}

.coming-soon nav ul li {
	padding-left: 15px;
}

.coming-soon nav ul a {
	padding: 0;
}

.coming-soon .sidenav li {
	line-height: 1.2;
}

.coming-soon nav ul a,
.coming-soon .sidenav li > a {
	padding-left: 0;
}

.coming-soon .sidenav li > a,
.coming-soon .sidenav li > a > i {
	color: #E1F6F9;
	font-size: 22px;
	height: auto;
}

.coming-soon .sidenav li > a > i {
	margin: 0 22px 0 0;
}

.coming-soon .sidenav li > a:hover,
.coming-soon .sidenav li > a:active,
.coming-soon .sidenav li > a:focus,
.coming-soon .sidenav li > a:hover i,
.coming-soon .sidenav li > a:active i,
.coming-soon .sidenav li > a:focus i {
	color: #F4DD02;
}

/* Footer */
footer.page-footer {
	background-color: #092F4A;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

footer,
footer.page-footer,
.page-footer .footer-copyright {
	color: #E1F6F9 !important;
}

.footer-logo {
	max-width: 298px;
}

footer a,
.copyright {
	color: #E1F6F9;
	display: block;
}

footer .right a:not(.inline) {
	margin-bottom: .3rem;
}

footer a.inline {
	display: inline-block;
}

footer .left a {
	display: block;
}

footer i {
	padding-right: .5rem;
}

#mc_embed_signup form {
	padding: 0 !important;
	margin-bottom: 35px !important;
}

#mc_embed_signup input,
#mc_embed_signup .button {
	height: 48px !important;
	min-height: 48px !important;
	line-height: 1 !important;
	border-radius: 0 !important;
	border: 1px solid #f4dd01 !important;
	box-sizing: border-box !important;
	font-family: 'Yantramanav', sans-serif !important;
	font-size: 16px !important;
	color: #e1f5f8 !important;
}

footer #mc_embed_signup input,
footer #mc_embed_signup .button {
	display: inline-block !important;
	width: 55% !important;
	min-width: 55% !important;
}

#mc_embed_signup .button {
	background-color: #0c2f4a !important;
	text-transform: uppercase !important;
	font-weight: 600 !important;
	width: 35% !important;
	min-width: 35% !important;
}

#mc_embed_signup .button:hover {
	background-color: #e1f5f8 !important;
	color: #0c2f4a !important;
}

/* ------- TERMS / PRIVACY / GUIDELINES / FAQs ---------- */
.general-content {
	padding-top: 5rem;
	padding-bottom: 3rem;
}

.general-content ul {
	margin-left: 2em;
	margin-bottom: 1em;	
}

.general-content ul.collapsible {
	margin-left: 1em;
	margin-bottom: 2em;
}

.general-content ul li {
	list-style-type: disc;
}

.collapsible-subsection {
	margin-bottom: 1.5em;
}

.collapsible-title {
	font-weight: 700;
	display: block;
	font-style: italic;
}

.guidelines li {
	margin-bottom: 1rem;
}

/* ------- FAQs ---------- */
.faqs-hero {
	background-color: #092F4A;	
}

.faqs-hero.section {
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.faqs-hero h1,
.faqs-hero div,
.faqs-hero a,
.faqs-hero i,
.faqs-hero input,
.faqs-hero ::placeholder {
	color: #e1f5f8;
}

.faqs-hero input#search {
	border-bottom: 1px solid #e1f5f8;
	font-size: 17px;
}

.faqs-hero input#search:active,
.faqs-hero input#search:focus {
	border-bottom: 1px solid #F4DD02;
}

.faqs-hero a:hover,
.faqs-hero a:active,
.faqs-hero a:focus,
.faqs-hero .input-field .prefix.active {
	color: #F4DD02;
}

.faqs-hero a {
	text-decoration: underline;
}



/******  RESPONSIVE STYLES  ******/
/* large+ screens */
@media only screen and (min-width: 992px) {
	
	.container {
		width: 80%;
	}
}

/* large screens */
@media only screen and (max-width: 1200px) {

	.hero { 
		height: auto;
		padding-bottom: 3em; 
	}

	.coming-soon .hero { 
		height: 100vh;
	}
}

/* medium screens */
@media only screen and (max-width: 992px) {
	
	.about .row {
		width: 100%;
	}

	.why-unihive .row {
		display: block;
	}

	.why-unihive .right {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}

	.footer-logo {
		max-width: 278px;
	}
}

/* small screens */
@media only screen and (min-width: 601px) {

	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
		height: 54px;
		line-height: 54px;
	}
}

@media only screen and (max-width: 600px) {

	h1, .h1 { 
		font-size: 33px;
		line-height: 43px;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	h2, .h2 {
		font-size: 27px;
		line-height: 50px;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	h3, .h3,
	h4, .h4 {
		font-size: 23px;
		line-height: 25px;
		margin-top: 25px;
		margin-bottom: 0px;
	}
	
	nav .brand-logo, nav .brand-logo img {
		vertical-align: middle;
	}

	.hero {
		background: url(/assets/hero-tablet.jpg);
		background-color: #092F4A; 
		background-position: center; 
		background-repeat: no-repeat; 
		background-size: cover;
	}

	.hero h2 {
		width: 100%;
		line-height: 1.3;
	}

	.hero #mc_embed_signup {
		width: 100% !important;
		min-width: 100% !important;
	}

	.benefits {
		padding-top: 5rem;
		padding-bottom: 0;
	}

	.benefits h2 {
		line-height: 1.2;
	}

	.benefits .material-icons {
		font-size: 50px;
	}

	.about {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.general-content {
		padding-top: 3rem;
	}

	.faqs-hero.section {
		padding-top: 2rem;
		padding-bottom: 4rem;
	}
}

@media only screen and (max-width: 480px) {

	.hero {
		background: url(/assets/hero-mobile.jpg);
		background-color: #092F4A; 
		background-position: center; 
		background-repeat: no-repeat; 
		background-size: cover;
	}

	.coming-soon .hero {
		background-position: 75%;
	}

}