/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	font-family: 'Yantramanav', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 46px;
	line-height: 52px;
}

h2, h3, h4, h5, h6 {
	font-family: 'Asar', serif;
	font-size: 30px;
	line-height: 36px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

