/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	font-family: 'Yantramanav', sans-serif;
	font-size: 19px;
	line-height: 25px;
	background-color: #E8EEF2;
	color: #092F4A;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	color: #E1F6F9;
	font-size: 47px;
	line-height: 69px;
}

h2, h3, h4, h5, h6 {
	font-family: 'Asar', serif;
}

h2, h3 {
	margin: 0 0 3rem;
}

h6 {
	font-size: 1.4rem;
	margin: 0 0 1rem;
}

nav {
	color: #E1F6F9;
	background-color: #092F4A;
}	

p {
	margin-bottom: 1.5em;
}

a {
	color: #156AA5;
	transition: all 0.5s ease !important;
}

a:hover,
a:active,
a:focus {
	color: #F4DD02;
}

.benefits a:hover,
.benefits a:active,
.benefits a:focus,
.about a:hover,
.about a:active,
.about a:focus {
	color: #092F4A;
}

.btn-large {
	background: #092F4A;
	color: #E1F6F9;
	font-size: 18px;
	border: 2px solid #F4DD02;
	border-radius: 0;
	transition: all 0.5s ease !important;
}

.btn-large:hover, 
.btn-large:active, 
.btn-large:focus {
    background: #E1F6F9;
	color: #092F4A;
}

.row {
	margin-bottom: 0;
}

.icon-block {
	margin-top: 1rem;
}

.material-icons {
	font-size: 42px;
}

.tagline {
	font-family: 'Asar', serif;
	color: #F4DD02;
	margin-bottom: 3rem;
	font-size: 1.4rem;
}



/* Nav */
nav ul a {
	padding: 0 25px;
	font-size: 17px;
	color: #E1F6F9;
	text-transform: uppercase;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
	background-color: #092F4A;
}

nav a.primary {
	color: #092F4A;
	background-color: #E1F6F9;
}

nav a.primary:hover,
nav a.primary:active,
nav a.primary:focus {
	color: #E1F6F9;
	background-color: #092F4A;
}

/* Hero */
.hero {
	height: 100vh;
	background: url(/assets/hero-background.jpg);
	background-color: #092F4A; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

.hero h5 {
	color: #E1F6F9;
	font-size: 29px;
	line-height: 46px;
	margin-bottom: 3rem;
	width: 65%;
}

/* Benefits */
.benefits {
	padding-top: 9rem;
	padding-bottom: 5rem;
}

/* Why UniHive */
.why-unihive {
	background-color: #E4572E;
	color: #E1F6F9;
	padding: 0;
	/*height: 30em;*/
}

.why-unihive .left-col {
	padding: 0;
}

.why-unihive .right-col {
	padding: 3rem 3rem 0;
}

.why-unihive .circle {
	width: 50%;
}

/* About */
.about {
	padding-top: 9rem;
	padding-bottom: 9rem;
}

.about .row {
	width: 75%;
}

.about img {
	margin-bottom: 2rem;
}

.about i {
	padding-right: .75rem;
}

/* Footer */
footer.page-footer {
	background-color: #092F4A;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

footer,
footer.page-footer,
.page-footer .footer-copyright {
	color: #E1F6F9 !important;
}

.page-footer .footer-copyright {
	margin-top: 3rem;
}

footer a {
	color: #E1F6F9;
}

footer .left a {
	display: block;
}

footer i {
	padding-right: .5rem;
}

h6.newsletter {
	margin-top: 3rem;
}



/******  RESPONSIVE STYLES  ******/
/* large+ screens */
@media only screen and (min-width: 992px) {
	
	.container {
		width: 80%;
	}
}

/* large screens */
@media only screen and (max-width: 1200px) {

	.hero { 
		height: auto;
		padding-bottom: 3em; 
	}
}

/* medium screens */
@media only screen and (max-width: 992px) {

}

/* small screens */
@media only screen and (min-width: 601px) {

	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
		height: 54px;
		line-height: 54px;
	}
}

@media only screen and (max-width: 600px) {

	h1, h2 {
		font-size: 30px;	
		line-height: 45px;

	}

	h2, h3, h4, h5,
	.hero h5 {
		font-size: 20px;
		line-height: 26px;
	}

	.hero h5 {
		width: 100%;
	}

}

@media only screen and (max-width: 480px) {


}